.product-list-container {
  padding: 20px;

  .toggle-filter-btn {
    display: none; // Hide on desktop by default
    margin-bottom: 15px;
  }

  .filter-and-product-wrapper {
    display: flex;
    gap: 20px;
  }

  .sidebar {
    flex: 0 0 250px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
  }

  .product-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .controls {
      margin-bottom: 20px;
      display: flex;
      gap: 10px;

      .search-input {
        width: 200px; // Fixed width for the input
      }

      .category-select {
        width: 200px;
      }
    }

    .product-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr); // 4 equal columns
      gap: 20px;
    }
  }

  .no-products-message {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
    margin-top: 20px;
  }

  // Media query for mobile
  @media (max-width: 768px) {
    .filter-and-product-wrapper {
      flex-direction: column;
    }

    .toggle-filter-btn {
      display: block; // Show the filter toggle button on mobile
    }

    .sidebar {
      display: none; // Hide sidebar by default on mobile
      width: 100%; // Full width when visible

      &.visible {
        display: block; // Show sidebar when toggle button is clicked
      }
    }
  }
}
